/* PG. CADASTRO E LOGIN */
.login{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cadastro{
    text-align: center;
    position: absolute;
    width: 45%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

/* PG. CADASTRO DE CERTIFICADOS */
.formCadastroCertificados{
    text-align: center;
    position: absolute;
    width: 30%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
